.container {
  width: 90%;
  margin: 0 auto;
}
.container h4 {
  padding: 20px 0px;
}
.sample {
  display: none;
}

.description {
  padding: 20px 0;
  line-height: 1.6;
}
.price {
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.discount-value {
  font-weight: 600;
  font-size: 1.8rem;
  align-self: end;
}

.discount-index {
  display: inline-block;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

.price-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.original-value {
  text-decoration: line-through;
  font-weight: 600;
}

.total-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add {
  padding-left: 20px;
  justify-self: start;
}

.subtract {
  justify-self: end;
  padding-right: 20px;
}

.add, 
.subtract,
.add-to-cart {
  cursor: pointer;
}

.bottom-cart-image {
  margin-right: clamp(10px, 2.5vw, 10px);
}

.bottom-cart {
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.bottom-cart span {
  font-size: clamp(0.9rem, 2.5vw, 1.0rem);
}

.cart {
  position: relative
}

.cart-total {
  position: absolute;
  top: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  display: grid;
  place-items: center;
}

.modal-detail {
  grid-template-columns: 2fr 5fr 1fr;
  margin: 20px 0;
  --gap: 0.8px;
}

.checkout-price {
  line-height: 1.6;
  margin-right: 5px;
}

.checkout-price .total {
  font-weight: 700;
}

.checkout-price .evaluation {
  margin-right: 9px;
}
.checkout-button {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 5px;
}

.trash {
  align-self: center;
}

.modal-cart {
  height: 50px;
  font-weight: 600;
  font-size: 1.2rem;
}

.modal-wrapper {
  align-self: center;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  border-radius: 5px;
}

.sample-image {
  cursor: pointer;
}

.product-category {
  font-size: 0.8rem;
}

#ReactModal__content__logout{
  width: clamp(3rem, 50vw, 8rem) !important;
  height: clamp(6rem, 50vw, 5rem)!important;
  text-align: center;
}

.logout,
.login {
  cursor: pointer;
}

.home,
.registration-form {
  top: 2rem;
  position: relative;
  display: grid;
  place-items: center;
}

.field {
  margin-bottom: 10px;
}

.input-field {
  height: 40px;
  width: 300px;
  font-family: "Kumbh Sans";
}

.submit-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border: 0;
  font-weight: 600;
  font-family: "Kumbh Sans";
}

.register, .sign_in {
  font-family: "Kumbh Sans";
  color: #000;
}

.ReactModal__Content {
  display: grid !important;
  inset: unset !important;
  width: clamp(22rem, 50vw, 30rem) !important;
  height: clamp(18rem, 50vw, 15rem)!important;
  border-radius: 5px !important;
  position: absolute !important;
  right: -1% !important;
  top: 4% !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.empty-modal {
  text-align: center;
  position: relative;
  top: 25%;
  font-weight: 600;
}

.logo {
  text-decoration: none;
  color: #000;
  font-family: "Kumbh Sans";
}

.loading {
  text-align: center;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.logout-notification {
  margin-bottom: 20px;
}

.alert-notice {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
  padding: 15px;
  text-align: center;
}

.login-notification {
  margin-bottom: 10px;
}

.off {
  transform: translateY(-4px);
  transition: transform 500ms ease-in-out;
}

@media(min-width: 45rem) {

  main {
    display: grid;
    height: 90vh;
    margin-top: 80px;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0, 34rem)) minmax(1em, 1fr);
    grid-template-areas: 
    ". hero-image container ."
    ". sample container ."
  }

  .hero-image {
    grid-area: hero-image;
    max-width: 80%;
    border-radius: 5px;
    grid-column: 3/2;
    border-radius: 5px;
  }

  .container {
    grid-area: container;
  }

  .sample {
    display: flex;
    gap: var(--gap, 1rem);
    grid-area: sample;
  }
  
  .container {
    grid-column: 3/4;
  }

  .hight-light {
    font-size: 2rem;
  }

  .bottom-cart {
    align-self: center;
    padding: 10px 0;
    margin-bottom: 0;
  }

  .cart-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
  }

  .total-wrapper  {
    margin: 0;
    padding: 5px 0;
  }

  .sample {
    margin-top: 30px;
    width: 100%;
    list-style: none;
  }
  .sample img {
    border-radius: 5px;
  }

  .cart-total {
    right: 11%;
  }

  .ReactModal__Content {
    display: grid !important;
    inset: unset !important;
    width: clamp(20rem, 50vw, 20rem) !important;
    height: clamp(10rem, 50vw, 15rem)!important;
    border-radius: 5px !important;
    position: absolute !important;
    right: 3% !important;
    top: 1% !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .empty-modal {
    text-align: center;
    position: relative;
    top: 25%;
    font-weight: 600;
  }

  .field .sign-in {
    height: 40px;
    width: 300px;
  }

  .alert-notice {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
    padding: 15px;
    text-align: center;
  }

  .login-notification {
    width: 95%;
  }

}
